:root { 
--gray_900_36:#03332436; 
--bluegray_50:#ebecf0; 
--gray_300_59:#ebe5db59; 
--white_A700_70:#ffffff70; 
--gray_50:#fcfcfc; 
--gray_300_33:#ebe5db33; 
--gray_100_14:#f3f3f314; 
--yellow_600:#e5d32e; 
--black_900:#0d0e0c; 
--teal_800:#1b604b; 
--black_902:#080a12; 
--black_901:#000000; 
--indigo_800_24:#3d367824; 
--gray_600:#72737c; 
--gray_402:#aeaeae; 
--gray_700:#5a524c; 
--gray_601:#667966; 
--gray_400:#b2b2b2; 
--black_900_0a:#0000000a; 
--gray_401:#c4c4c4; 
--gray_800:#3d3d3d; 
--indigo_50:#d4def5; 
--gray_900:#232521; 
--white_A700_2d:#ffffff2d; 
--bluegray_100:#d1e5df; 
--yellow_50:#fff9f0; 
--light_blue_50:#d9f0ff; 
--teal_50:#e2f1ed; 
--gray_200:#ebebeb; 
--gray_300:#ebe5db; 
--blue_50:#e4f0f7; 
--bluegray_900:#2e2e2e; 
--bluegray_801:#363848; 
--bluegray_800:#214e40; 
--bluegray_701:#30725e; 
--bluegray_602:#368069; 
--deep_purple_50:#e9e6fe; 
--bluegray_700:#2b6956; 
--bluegray_601:#3b7e6a; 
--bluegray_600:#418973; 
--black_900_99:#00000099; 
--bluegray_400:#8a8a8a; 
--white_A701:#fdfdfd; 
--white_A700:#ffffff; 
--bluegray_901:#313131; 
}